<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
				PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.huhuiyu.template.maven.springboot2.dao.TbUserMapper">

	<select id="queryByName" parameterType="TbUser" resultType="TbUser">
		select * from tb_user
		where username = #{username}
	</select>

</mapper>